h1,
h2,
h3,
h4,
h5,
p,
span {
  font-family: Roboto, Ubuntu, sans-serif;
}

* {
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: row;
  min-height: 400px;
  min-width: 77%;
  justify-content: stretch;
  align-items: flex-start;
}

.main .feed {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 57%;
  border-right: 1px solid rgb(230, 236, 240);
  border-left: 1px solid rgb(230, 236, 240);
}

.newfeed {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.newfeed .newfeed__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 53px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid rgba(29, 161, 242, 0.1);
}

.newfeed__header h2 {
  line-height: 1.3125;
  font-weight: 800;
  font-size: 19px;
  color: rgb(20, 23, 26);
  overflow-wrap: break-word;
}

.newfeed .newfeed__header .svgicon-box svg {
  height: 1.5em;
  fill: rgba(29, 161, 242, 1);
}

.newfeed .newfeed__header .svgicon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
  height: 39px;
  width: 39px;
}

.newfeed .newfeed__header .svgicon-box:hover {
  background-color: rgba(29, 161, 242, 0.1);
  transition-property: background-color;
  transition-duration: 0.2s;
}

/* New Feed Form section */

.newfeed .container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 15px;
  box-sizing: border-box;
}

.newfeed .container .newfeed_avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 49px;
  margin-right: 10px;
  box-sizing: border-box;
  height: 100%;
}

.newfeed .container .newfeed_avatar img {
  height: 49px;
  border-radius: 100%;
}

.newfeed .container .newfeed__form {
  display: flext;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.newfeed .container .newfeed__form .newfeed__form_input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgb(101, 119, 134);
  font-size: 19px;
  font-weight: 400;
  font-family: Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  padding-bottom: calc(12px);
  padding-top: calc(12px);
  width: 100%;
  box-sizing: border-box;
}

.newfeed .container .newfeed__form .newfeed__form_input input {
  color: #222222;
  font-size: inherit;
  font-weight: inherit;
  border: none;
  outline: none;
  padding: 3px 0px;
}

.newfeed .container .newfeed__form .newfeed__form_input input::placeholder {
  color: rgb(101, 119, 134);
}

.newfeed__form_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 49px;
}

.newfeed__form_buttons_left {
  height: 49px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  vertical-align: text-bottom;
  margin-top: 10px;
  align-items: flex-end;
}

.newfeed__form_buttons_left .svgicon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgba(29, 161, 242, 1);
  min-width: 39px;
  height: 39px;
  vertical-align: text-bottom;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border-radius: 100%;
}

.newfeed__form_buttons_left .svgicon:hover {
  background-color: rgba(29, 161, 242, 0.1);
  transition-property: background-color;
  transition-duration: 0.2s;
}

.newfeed__form_buttons_left .svgicon svg {
  color: rgba(29, 161, 242, 1);
  vertical-align: text-bottom;
  font-size: 15px;
  width: 22.5px;
  fill: rgba(29, 161, 242, 1);
}

.newfeed__form_buttons_right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 39px;
  border-radius: 49px;
  background-color: rgb(29, 161, 242);
  margin-top: 0.6rem;
  cursor: pointer;
  border: none;
}

.newfeed__form_buttons_right button {
  text-align: center;
  color: white;
  font-family: Roboto, Ubuntu, sans-serif;
  font-weight: bold;
  border: none;
  background-color: transparent;
}

.feed__divider {
  width: 100%;
  height: 10px;
  background-color: rgb(230, 236, 240);
}

/* Style tweets */

.showfeeds {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 5px;
  min-height: 400px;
}

.showfeeds .showfeeds__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.showfeeds .showfeeds__container .tweet-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
}

.tweet-body-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.tweet-body-box .tweet-box__body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  min-height: 200px;
  box-sizing: border-box;
}

.tweet-box_tweet-status {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.tweet-status-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  margin-bottom: 2px;
  margin-right: 5px;
  margin-left: 5px;
}

.tweet-status_icon-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 49px;
  margin-right: 10px;
}

.tweet-status_icon-box .tweet-status_icon-box_svgicon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 13px;
}

.tweet-box_tweet-status .tweet-status-container .tweet-status_icon-box svg {
  width: 100%;
  fill: rgb(101, 119, 134);
}

.tweet-status__content {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin-left: 5px;
}

.tweet-box_tweet-status .tweet-status-container a {
  text-decoration: none;
}

.tweet-box_tweet-status .tweet-status-container span {
  font-size: 13px;
  color: rgb(101, 119, 134);
  font-family: Roboto, Ubuntu, sans-serif;
}

.showfeeds .showfeeds__container .tweet-box .tweet-box__useravatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 49px;
  height: 100%;
  margin-right: 10px;
  box-sizing: border-box;
}

.showfeeds .showfeeds__container .tweet-box .tweet-box__useravatar img {
  border-radius: 100%;
  width: 49px;
  height: 49px;
}

.tweet-box__body_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  color: rgb(101, 119, 134);
  margin-bottom: 2px;
  font-size: 15px;
  width: 100%;
}

.tweet-box_tweet-data {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.tweet-box__body_header .user-data {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-bottom: 2px;
  color: inherit;
  font-size: inherit;
  padding-top: 5px;
  padding-bottom: 5px;
}

.tweet-box_tweet-data .dot-box {
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
  line-height: 1.3125;
  color: rgb(101, 119, 134);
  padding-bottom: 5px;
}

.tweet-box_tweet-data .dot-box .dot{
  font-size: inherit;
  line-height: 1.3125;
  color: inherit
}

.user_link {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}

.user_link:hover {
  text-decoration: underline;
  transition: 0.2s;
  color: rgb(101, 119, 134);
}

.tweet-box__body_header .user-data .user-name {
  color: rgb(20, 23, 26);
  font-weight: bold;
  font-size: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tweet-box__body_header .user-data .user-name .user-name_text {
  color: rgb(20, 23, 26);
  font-weight: inherit;
  font-size: inherit;
  margin: 0px;
}

.tweet-box__body_header .user-data .user-username .user-username_text {
  color: rgb(101, 119, 134);
  font-weight: 400;
  font-size: inherit;
  margin: 0px;
  margin-left: 5px;
}

.tweet_createdAt {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  color: inherit;
  font-size: inherit;
  padding-top: 5px;
  padding-bottom: 5px;
}

.tweet_createdAt span {
  color: inherit;
  font-size: inherit;
}

.tweet-options__options {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 39px;
  border-radius: 100%;
  cursor: pointer;
  transition: background-color 0.2s;
}

.tweet-options__options:hover {
  background-color: rgba(29, 161, 242, 0.1);
  transition: background-color 0.2s;
}

.tweet-options_icons {
  width: 15px;
  height: 15px;
  transition: color 0.2s;
}

.tweet-options_icons:hover > svg {
  fill: rgba(29, 161, 242, 1);
  transition: color 0.2s;
}

.tweet-options_icons svg {
  width: 15px;
  height: 15px;
  fill: rgb(101, 119, 134);
}
